<%- include("../layout/header") %>

<h2>Gestão de Produtos</h2>

<% if (produtos.length > 0) { %>
  <table>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Preço</th>
      <th>Stock</th>
      <th>Supermercado</th>
    </tr>

    <% produtos.forEach(produto => { %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.categoria ? produto.categoria.nome : "Sem categoria" %></td>
        <td>€<%= produto.preco %></td>
        <td><%= produto.stock %></td>
        <td><%= produto.supermercado ? produto.supermercado.nome : "Sem supermercado" %></td>
      </tr>
    <% }) %>
  </table>
<% } else { %>
  <p>Não existem produtos registados.</p>
<% } %>

<a href="/comparar">
  <button type="button">Comparar Preços</button>
</a>

<a href="/admin/dashboard">
  <button type="button">Voltar</button>
</a>

<%- include("../layout/footer") %>
